<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать информацию о человеке</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/people/{id}(id=${person.getPerson_id()})}" th:object="${person}">

        <label for="full_name">ФИО:</label>
        <input type="text" id="full_name" th:field="*{full_name}"><br>
        <div style="color:red" th:if="${#fields.hasErrors('full_name')}" th:errors="*{full_name}"> Name error </div><br>

        <label for="birth_year">Дата рождения:</label>
        <input type="number" id="birth_year" th:field="*{birth_year}"><br>
        <div style="color:red" th:if="${#fields.hasErrors('birth_year')}" th:errors="*{birth_year}"> Name error </div><br>

        <input type="submit" value="Обновить">
    </form><br>
    <a href="/people"> Назад </a>
</body>
</html>