<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о книге</title>
</head>
<body>
    <strong>Наименование:</strong>
    <span th:text="${book.getTitle()}"> Title </span><br>

    <strong>Автор:</strong>
    <span th:text="${book.getAuthor()}"> Author </span><br>

    <strong>Год:</strong>
    <span th:text="${book.getYear()}"> Year </span><br>

    <hr>
    <!-- КНИГА ЗАНЯТА -->
    <div th:if="${owner}">
        <span th:text="${owner.getFull_name()}"></span><span> владеет сейчас этой книгой. </span>
        <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getBook_id()})}">
            <input type="submit" value="Освободить книгу">
        </form>
    </div>

    <!-- КНИГА СВОБОДНА -->
    <div th:if="${people}">
        <span> Эта книга сейчас свободна, кому назначить её ? </span>

        <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getBook_id()})}">
            <label for="person"> Выберите человека: </label>
            <select th:object="${person}" th:field="*{person_id}" id="person">
                <option th:each="person:${people}" th:text="${person.getFull_name()}" th:value="${person.getPerson_id()}"></option>
            </select>
            <input type="submit" value="Назначить книгу">
        </form>

    </div>
    <hr>

    <form th:action="@{/books/{id}/edit(id=${book.getBook_id()})}"><button type="submit"> Редактировать </button></form>
    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBook_id()})}"><input type="submit" value=" Удалить "></form><br>
    <form action="/books"><button type="submit"> Назад </button></form>
</body>
</html>